h1 {
  text-align: center;
  font-style: oblique;
}


img {
  float: center;
  width: 50%;
  height: 50%;
}

.center_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.sidebar {
  width: 15%;
  float: left;
  background-color:rgb(238, 235, 235);
  max-height: fit-content;
}

.column {
  width: 30%;
  float:left;
}
/*

css needs margin, border, padding, typography styles, and floats.





*/