h1 {
  text-align: center;
  font-style: oblique;
}

p {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.banner_img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 30%;
  display: block;
}

.text_border {
  margin: 12px;
  border: 2px solid black;
  padding: 4px;
  background-color: crimson;
}

.box1 {
  width: 100%;
  border: solid rgb(231, 224, 224);
  border-width: 1px;
  background-color: rgb(201, 196, 188);
  margin-bottom: 10px;
  box-sizing: border-box;
}


.box2 {
  width: 100%;
  border: solid black;
  border-width: 1px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.sidebar {
  width: 30%;
  float: left;
  background-color:rgb(238, 235, 235);
  max-height: fit-content;
}

.column {
  width: 30%;
}

.column1 {
  width: 70%;
}
/*
css needs margin, border, padding, typography styles, and floats.
*/

.physical_traits {
  color: crimson;
}